body{
    margin: 0;
    padding: 0;
    background-color: #F9F7F3;
    color: #2C2C2C;
    font-family: "Source Sans 3", sans-serif;
}

button{
    border-style: none;
}

span{
    margin: 0;
}

@media (max-width: 500px){

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color:  #333333 ; 
}

.header__logo{
    font-size: 30px;
    color: #FFFFFF;
}

.container{
    margin-right: 4vw;
    margin-left: 4vw;
}

.client-management{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
}

.client-management__icon{
    height: 8vw;
}

.client-management__title--align{
    width: 100%;
    margin: 0;
    display: flex;
    margin-right: 7px;
    align-items: center;
    gap: 2.8vw;
    flex-direction: row;
    font-size: 4vw;
}

.client-management__text--align{
    font-size: 17px;
    margin: 0;
    margin-left: 10px;
    width: 88vw;
}

.client-management__line{
    width: 100%;
    border: 1px solid #b8b8b8;
}

.client-management__search{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    align-items: center;
}

.client-management__subtitle{
    font-size: 23px ;
}

.client-management__search-client{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
    border-radius: 5px;
    height: 5.2vh;
    width: 100%;
    background-color: #cacaca;
    color: #212529;
}

.client-management__search-client input{
    background-color: #cacaca;
    border: none;
    width: 69vw;
    font-family: "Source Sans 3", sans-serif;
    border-radius: 5px;
    height: 3.8vh;
    font-size: 20px;
    color: #272626;
}

.client-management__search-client input::placeholder{
    color: #535353;
}

.client-management__button--new-client{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans 3", sans-serif;
    height: 5.4vh;
    width: 100%;
    background-color:  #F0A500;
    color: #F9F7F3;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    font-size: 4.8vw;
    margin-bottom: 14px;
    margin-top: 10px;
}

.client-management__button--new-client:active{
    background-color: #d89a3e;
}


.client-registration{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 9%;
    margin-bottom: 9%;
}

.client-registration__block-card{
    display: flex;
    flex-direction: column;
    color: #2C2C2C;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    height: 2%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border: 1px solid #a7a7a7;
    width: 100%;
}

.client-registration__itens--align{
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

.client-registration__info-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5vw;
    justify-content: space-between;
}

.client-registration__name{
    font-size: 18px;
}

.client-registration__info-status{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.client-registration__status-ring--active{
    display: flex;
    height: 10px;
    align-self:center;
    width: 10px;
    background-color: #43f151;
    border-radius: 50px;
}

.client-registration__status-text{
    font-size: 15px;
}

.client-registration__button--edit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2vh;
    width: 16vw;
    font-family: "Source Code Pro", monospace;
    border: 1px solid #e19a31;
    border-radius: 2px;
    font-size: 14px;
    /* font-size: bold 300; */
    background-color: #F9F7F3;
    transition: background-color 0.3s ease; 
    transition: color 0.3s ease;
    color: #e19a31;
}

.client-registration__button--edit:active{
    color: white;
    background-color: #e19a31;
}

.client-registration__button--more-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 48px;
     background-color: #F9F7F3; 
}

.client-registration__icon-below{
    height: 3vh;
    transition: transform 0.3s ease;
}

.client-registration__block-card.open .client-registration__icon-below {
    transform: rotate(180deg) scale(1.3);
}

.client-registration__buttons{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    flex-direction: row;

}

.client-registration__extra-info {
    max-height: 0;
    overflow: hidden;
    padding: 0 8px;
    font-size: 14px;
    transition: max-height 0.4s ease, padding 0.4s ease;
    border-top: 0 solid #8a8a8a;
}

.client-registration__extra-info.active {
    max-height: 470px; 
    padding: 2px 2px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.client-registration__extra-info--align{
    display: flex;
    align-items: center;
    font-family: "Source Sans 3", sans-serif;
    flex-wrap: wrap;
    margin: 5vw;
}

.client-registration__personal-information{
    margin-bottom: 5px;
}

.client-registration__type-info{
    font-weight:700;
}

.client-registration__type-info span {
    font-weight: 400; 
    margin-left: 4px;
    font-size: 15px;
}

.client-registration__contact-client{
    display: flex;
    width: 100%;
    border-top: 2px solid #e19a31;  
    flex-direction: column;
    justify-content: space-around;
}

.client-registration__contact-client--align{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.client-registration__personal-information{
    margin-bottom: 2px;
}

}